<div id="<%= dom_id recipe %>">
  <div>
    <strong>User:</strong>
    <%= recipe.user_id %>
  </div>

  <div>
    <strong>Generation request:</strong>
    <%= recipe.generation_request_id %>
  </div>

  <div>
    <strong>Title:</strong>
    <%= recipe.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= recipe.description %>
  </div>

  <div>
    <strong>Servings:</strong>
    <%= recipe.servings %>
  </div>

  <div>
    <strong>Prep time minutes:</strong>
    <%= recipe.prep_time_minutes %>
  </div>

  <div>
    <strong>Cook time minutes:</strong>
    <%= recipe.cook_time_minutes %>
  </div>

  <div>
    <strong>Instructions:</strong>
    <%= recipe.instructions %>
  </div>

  <div>
    <strong>Is published:</strong>
    <%= recipe.is_published %>
  </div>

</div>
