<div id="<%= dom_id recipe_ingredient %>">
  <div>
    <strong>Recipe:</strong>
    <%= recipe_ingredient.recipe_id %>
  </div>

  <div>
    <strong>Ingredient:</strong>
    <%= recipe_ingredient.ingredient_id %>
  </div>

  <div>
    <strong>Quantity:</strong>
    <%= recipe_ingredient.quantity %>
  </div>

  <div>
    <strong>Unit:</strong>
    <%= recipe_ingredient.unit %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= recipe_ingredient.notes %>
  </div>

</div>
