<div id="<%= dom_id user %>">
  <div>
    <strong>Email:</strong>
    <%= user.email %>
  </div>

  <div>
    <strong>Password digest:</strong>
    <%= user.password_digest %>
  </div>

  <div>
    <strong>Display name:</strong>
    <%= user.display_name %>
  </div>

  <div>
    <strong>Created at:</strong>
    <%= user.created_at %>
  </div>

  <div>
    <strong>Updated at:</strong>
    <%= user.updated_at %>
  </div>

</div>
