<div id="<%= dom_id generation_request %>">
  <div>
    <strong>User:</strong>
    <%= generation_request.user_id %>
  </div>

  <div>
    <strong>Prompt:</strong>
    <%= generation_request.prompt %>
  </div>

  <div>
    <strong>Raw response:</strong>
    <%= generation_request.raw_response %>
  </div>

  <div>
    <strong>Model used:</strong>
    <%= generation_request.model_used %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= generation_request.status %>
  </div>

</div>
